/* Propiedades del Body */
body {
    width: 1280px;
    border: 10px solid black;
    margin: 0px auto;
    height: 800px;
}

/* El espacio útil del body es 1280px ya que el tamaño total del body seria 1300px (width + border)*/

/* CAMAS DE LOS ENANITOS */
/* Grupo 1: Elementos en linea*/
#sabio {
    width: 100px;
    height: 300px;
    padding: 2px 10px 0px 10px;
    margin: 20px 40px;
    background-color: #F8C8DC;
    /* Ejercicio 8: Al flotar los elementos en linea si quito el float del primer elemento, este se pondrá
    en última posición */
    float: left;
}

#gruñon {
    width: 100px;
    height: 300px;
    padding: 2px 10px 0px 10px;
    margin: 20px 40px;
    background-color: #FFF4B2;

    /* Ejercicio 6: a pesar de mover la cama de Gruñon, esta mantiene su espacio anterior */
    /* position: relative;
    top: 250px;
    left: 800px; */

    /* Ejercicio 7: colocamos la cama de Gruñon respecto a su contenedor, ya no se mantiene
    la posicion original de su cama */
    /* position: absolute;
    top: 250px;
    right: 20px; */

    float: left;
}

#feliz {
    width: 100px;
    height: 300px;
    padding: 2px 10px 0px 10px;
    margin: 20px 40px;
    background-color: #C8F4C0;
    float: left;
}

#dormilon {
    width: 100px;
    height: 300px;
    padding: 2px 10px 0px 10px;
    margin: 20px 40px;
    background-color: #BEE3F8;
    float: left;
}

/* Grupo 2: Elementos en bloque*/
#timido {
    width: 100px;
    height: 300px;
    padding: 2px 10px 0px 10px;
    margin: 20px 40px;
    background-color: #FFD9B3;
    /* Ejercicio 8: Al NO flotar los elementos en bloque si quito el float del primer elemento, este se pondrá
    superpuesto al div de los elementos en linea */
    float: left;
}

#mocoso {
    width: 100px;
    height: 300px;
    padding: 2px 10px 0px 10px;
    margin: 20px 40px;
    background-color: #E3D1FF;
    float: left;
}

#mudito {
    width: 100px;
    height: 300px;
    padding: 2px 10px 0px 10px;
    margin: 20px 40px;
    background-color: #FFBFBF;
    float: left;
}

/* Ejercicio 7 */
#grupo1 {
    position: relative;
    /* Cambiamos el ancho del div donde se encuentra Gruñon, este se mantiene siempre cerca del borde del div
    en la posición absoluta ya que este div tiene una posicion relativa */
    /* width: 1000px; */
    overflow: hidden;
}

#grupo2 {
    position: static;
    /* height: 800; */
    /* Ejercicio 8: El overflow hidden para el tamaño del contenerdor se adapte a su contenido */
    overflow: hidden;
}

/* Ejercicio 11: Primera letra con estilo diferente */
label::first-letter,
div::first-letter {
    font-size: 24px;
    color: #7423d6;
    font-weight: bold;
}

/* Ejercicio 12: Camas pares dentro del grupo 1 seran de este color  */
#grupo1 label:nth-child(even) {
    background-color: #F1FEE3;
}

/* Ejercicio 13: La cama de gruñon siempre será de este color */
#gruñon {
    background-color: #D6234A !important;
}

/* EXTRA: Puerta y ventana, uso la position relative porque la abosule no se mantendría en el luegar que quiero
ya que los margenes cambian segun el tamaño del monitor */
#puerta {
    background-color: burlywood;
    width: 10px;
    height: 100px;
    position: relative;
    bottom: 350px;
    right: -1280px;
}

#ventana {
    background-color: lightblue;
    width: 10px;
    height: 100px;
    position: relative;
    bottom: 450px;
    right: 10px;
}